################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/hw4/Shipment_ML/ShipmentDatabase/ShipmentDatabase.dbmdl
